<%- include('../partials/header.ejs') %>
<div class="container-fluid mx-auto mt-5">
  <%- include('../partials/messages.ejs') %>
  <% if(results.length==0){ %>
  <h1 style="text-align:center;color: white;" class="mb-5">There are no <i style="color: #F5C518;"><%= filterType %> <%= type %>s</i> currently available!</h1>
  <% }else if(type=="Movie"){ %>
  <h1 style="text-align:center;color: white;" class="mb-5">This is the list of Available <i style="color: #F5C518;"><%= filterType %> <%= type %>s</i> On our site!</h1>
  <% }else{ %>
  <h1 style="text-align:center;color: white;" class="mb-5">This is the list of Available <i style="color: #F5C518;"><%= filterType %> <%= type %> Shows</i> On our site!</h1>
  <% } %>
  <div class="row align-items-center justify-content-center">
    <% results.forEach(movie=>{ %>
    <div class="col-md-3 mb-5 align-items-center justify-content-center">
      <div class="card text-center mb-2" style="width: 20rem">
        <img
          class="card-img-top"
          src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
          alt="Card image cap"
        />
        <div class="card-body" style="background-color: #000000">
          <h5 class="card-title" style="color: white"><%= movie.title %></h5>
          <!-- <p class="card-text"><%= movie.overview %></p> -->
          <% if(type=="Movie"){ %>
          <a
            href="/movie/<%= movie.id %>"
            class="btn"
            style="
              background-color: #f5c518;
              color: #000000;
              font: 1.2em bold sans-serif;
              font-weight: 700;
            "
            >View more
          </a>
          <% }else{ %>
          <a
            href="/tvshow/<%= movie.id %>"
            class="btn"
            style="
              background-color: #f5c518;
              color: #000000;
              font: 1.2em bold sans-serif;
              font-weight: 700;
            "
            >View more
          </a>
          <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
