<%- include('../partials/header.ejs') %>
<div class="container-fluid mx-auto mt-5">
    <%- include('../partials/messages.ejs') %>
    <% if(results.length==0){ %>
        <h1 style="text-align:center;color: white;" class="mb-5">Sorry we are unable to find movies based on your search. <br> Please search with a valid name!</h1>
    <% }else{ %>    
        <% if(genre){ %>
        <h1 style="text-align:center;color: white;" class="mb-5">This is the filtered <i style="color: #F5C518;"><%= type %></i> list based on <i style="color: #F5C518;"><%= genre %></i> Genre!</h1>
        <% }else{ %>
        <h1 style="text-align:center;color: white;" class="mb-5">This is the list of movies related to <i style="color: #F5C518;"><%= search %></i>!</h1>
        <% } %>
        <div class="row align-items-center justify-content-center">
            <% results.forEach(movie=>{ %>
            <div class="col-md-3 mb-5 align-items-center justify-content-center">
                <div class="card text-center mb-2" style="width: 20rem;">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: #000000;">
                        <h5 class="card-title" style="color:white;"><%= movie.title %></h5>
                        <% if(movie.media_type=='movie' || type == 'Movie'){ %>
                        <a href="/movie/<%= movie.id %>" class="btn" style="background-color: #F5C518;color: #000000;font: 1.2em bold sans-serif;font-weight: 700;">View more</a>
                        <% }else{ %>
                        <a href="/tvshow/<%= movie.id %>" class="btn" style="background-color: #F5C518;color: #000000;font: 1.2em bold sans-serif;font-weight: 700;">View more</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    <% } %>       
</div>
<%- include('../partials/footer.ejs') %>